DISCORD_TOKEN=
DISCORD_CLIENT_ID=
DATABASE_URL=postgresql://discord_bot:CHANGE_ME_STRONG_PASSWORD@localhost:5432/discord_bots
DATABASE_SSL=false
PRESENCE_STREAM_URL=https://twitch.tv/discord
POSTGRES_DB=discord_bots
POSTGRES_USER=discord_bot
POSTGRES_PASSWORD=CHANGE_ME_STRONG_PASSWORD
POSTGRES_PORT=5432
PREFIX=+
DEFAULT_LANG=en
DEV_GUILD_ID=
AUTO_DEPLOY_SLASH=false
